.page-template-about{
	header{
		@extend %text-center;
	}
	h1{margin-bottom: 0;}
}

.about-intro{
	margin: 1em 0 3em;
}
.about-profile{
	ul{
		list-style: none;
		padding: 0;
	}
	&-skills{
		display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  li{
  	  width: 25%;
		  margin: 0.5em 0;
		  padding: 0.25em;
		  opacity: 0.5;
	  }
	}
}
.about-treehouse{

	&-skills{
		list-style: none;
		margin: 0 auto 1em;
		padding: 0;
		width: 95%;
		li{
			display: inline-block;
			// margin: 0.25em 0;
			width: 25%;
		}
		p {
		  font-size: 0.9em;
		  font-style: italic;
		}
		.bullet{
			float: left;
			display: block;
			margin: 0.4em 0.5em 1.5em 0;
		  width: 0.75em;
		  height: 0.75em;
		  background-color: $c-grey;
		  text-indent: -9999px;
		  border-radius: 1em;
		}
		.javascript span{ background-color: $c-treehouse-js-red;}
		.php span{ background-color: $c-treehouse-php-purple;}
		.business span{ background-color: $c-treehouse-business-orange}
		.css span{ background-color: $c-treehouse-css-blue;}
		.development span{ background-color: $c-treehouse-dev-grey;}
		.design span{ background-color: $c-treehouse-design-yellow;}
		.html span{ background-color: $c-treehouse-html-blue;}
		.wordpress span{ background-color: $c-treehouse-wordpress-purple;}
		.ios span{ background-color: $c-treehouse-ios-blue;}
		.android span{ background-color: $c-treehouse-android-green;}

	}
	&-badges{
		padding: 0;
  	list-style: none;
  	li{
  		width: 16.667%;
		  display: inline-block;
		  padding: 0.25em;
  	}
  	img{ width: 100%; }
	}
}