.page-template-about{
	header{
		@extend %text-center;
	}
	h1{margin-bottom: 0;}
}

.about-intro{
	margin: 1em 0 3em;
}
.about-profile{
	ul{
		list-style: none;
		padding: 0;
	}
	&-skills{
		display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  li{
  	  width: 25%;
		  margin: 0.5em 0;
		  padding: 0.25em;
		  opacity: 0.5;
	  }
	}
}
.about-treehouse{
	h2{
		text-align: center;
	  font-size: 0.75em;
	  color: grey;
	  font-family: $f-heading;
	}
	& > p{
		text-align: center;
	  font-size: 1.1em;
	  margin: 0;
	}
	span{
		font-style: italic;
	}
	&-skills{
		list-style: none;
		margin: 1em auto;
		padding: 0;
		width: 95%;
		li{
			display: inline-block;
			// margin: 0.25em 0;
			width: 25%;
		}
		p {
		  font-size: 0.9em;
		  font-style: italic;
		}
		.bullet{
			float: left;
			display: block;
			margin: 0.4em 0.5em 1.5em 0;
		  width: 0.75em;
		  height: 0.75em;
		  background-color: $c-grey;
		  text-indent: -9999px;
		  border-radius: 1em;
		}
		.javascript span{ background-color: $c-treehouse-js-red;}
		.php span{ background-color: $c-treehouse-php-purple;}
		.business span{ background-color: $c-treehouse-business-orange}
		.css span{ background-color: $c-treehouse-css-blue;}
		.development span{ background-color: $c-treehouse-dev-grey;}
		.design span{ background-color: $c-treehouse-design-yellow;}
		.html span{ background-color: $c-treehouse-html-blue;}
		.wordpress span{ background-color: $c-treehouse-wordpress-purple;}
		.ios span{ background-color: $c-treehouse-ios-blue;}
		.android span{ background-color: $c-treehouse-android-green;}

	}
	&-badges{
		padding: 0 1.25em;
  	list-style: none;
  	li{
  		width: 20%;
		  display: inline-block;
		  padding: 0.4em 0.4em 0.2em;
		  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.2)));
		  -webkit-transition: padding 0.25s ease;
		  -moz-transition: padding 0.25s ease;
		  -ms-transition: padding 0.25s ease;
		  transition: padding 0.25s ease;
		  &:hover{
		  	padding: 0.2em 0.4em 0.4em;
		  }
  	}
  	img{ width: 100%; }
	}
}