/*=========Blog Page=================*/
.blog{
	.post-link{
		text-align: center;
	}
	article{
		p{ padding: 0; }
	}
	hr{
		width: 66%;
	}
	h2 a{ color: $c-black; }
	.date{
		text-align: right;
		font-size: 1.5em;
  	line-height: 1.55em;
	}

}
.blog header, .single-post header{
	//@include aspect-ratio(96,47.3);
	padding: 4em 1.5em 0;
	svg{
		display: block;
		max-width: 900px;
		margin: 0 auto;
	}
}
.blog	article, .single-post article{
	h2, .date{
		padding: 0;
		text-align: center;
		
	}
	h2{ color: #333; }
	.date{
		margin: 0 0 0.2em;
		color: gray;
	  font-size: 1.2em;
	  font-family: inherit;
	}
}
.blogWrapper{
	//Adds margin to the first blog entry
	.blogRow:first-child{
		margin-top: 1em;
	}
	//Adds margin to the last blog entry
	.blogRow:nth-last-of-type(1){
		margin-bottom: 2em;
	}
	//Adds abit of vertical margin to all blog entries
	.blogRow{
		margin: 1.5em 0;
	}
	p{
		clear: both;
	}
} 
/*---Blog entry photo---*/
.snapshot{
	border: 3px solid #f0f4f4;
	margin-top: 5px;
	padding: 10px;
}

blockquote{
	background-color: aliceblue;
	border-left: 5px solid $c-blue;
	padding: 1.25em 40px;
	margin: 1em 0em;
	span, p{
		font-size: 1.05em;
		a{
			font-size: 0.9em;
			font-weight: 500;
		}
	}
	p:last-child{
		margin-bottom: 1.5em;
	}
}
.twitter-tweet{
	margin: 2em auto !important;
}