//This is for all of your colors

$c-blue: #00A3DF;
$c-white: white;
$c-red: #EE4036;
$c-grey: #F7FAFA;
$c-light-grey: #f8f8f8;
$c-black: #333;

$c-treehouse-js-red: #c25975;
$c-treehouse-php-purple: #7D669E;
$c-treehouse-business-orange: #F9845B;
$c-treehouse-css-blue: #3079AB;
$c-treehouse-dev-grey: #637a91;
$c-treehouse-design-yellow: #e59a13;
$c-treehouse-html-blue: #39ADD1;
$c-treehouse-wordpress-purple: #838CC7;
$c-treehouse-ios-blue: #53BBB4;
$c-treehouse-android-green: #5cb860;

/*---Page colours---*/
.blue-bg{
  background-color: $c-blue;
}
.white-bg{
  background-color: $c-white;
}
.red-bg{
	background-color: $c-red;
}
.grey-bg{
	background-color: $c-grey;
}
/* Other options F96C1E A3CD39*/
