//This is for all of your colors

$c-blue: #00A3DF;
$c-white: white;
$c-red: #EE4036;
$c-grey: #F7FAFA;
$c-light-grey: #f8f8f8;
$c-black: #333;

/*---Page colours---*/
.blue-bg{
  background-color: $c-blue;
}
.white-bg{
  background-color: $c-white;
}
.red-bg{
	background-color: $c-red;
}
.grey-bg{
	background-color: $c-grey;
}
/* Other options F96C1E A3CD39*/
