footer{
	@extend %text-center;
	position: absolute;
	bottom: 0;
	width: 100%;
	img, svg{
		height: 2.25em;
		width: 2.25em;
		margin: 1em 0.5em 0;
	}
	p{
		font-size: 0.9em;
		margin: 1em 0;
		color: $c-white;
	}
}
