.home{
	//Generic Page styles
	a{
		color: $c-blue;
		&:hover, &:focus{
			text-decoration: none;
			color: darken($c-blue, 10%);
		}
	}
	header{
	//For Frontpage img
		// svg{
		// 	height: 475px;
		// 	margin: 1em 0;
		// 	width: 100%;
		// }
		ul{
			list-style: none;
			padding: 0;
			font-size: 1.4em;
		}
		li{
			display: inline-block;
			margin: 0 0.5em;
		}
	}
	.mainContent{
		.row{
			@include flexbox;
			justify-content: center;
			align-items: center;
			margin: 2.5em 0;
			&:first-child{
				margin-top: 0
			}
		}
	} 
}