body{
	font-family: $f-body;
	font-size: 16px;
	background-color: $c-white;
	-webkit-font-smoothing: subpixel-antialiased;
}
.ie-warning {background:#C60F13; margin-top:40px; padding:10px;}
.ie-warning p {color:$c-white;text-align:center; margin: 20px 0;}
.ie-warning p a {color:$c-white; font-weight: bold;text-decoration: underline;}

.row{
	margin: 0;
}
/*---Makes 100% color backgrounds---*/
.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
}
.text-center{
	text-align: center;
}

hr{
	height: 2px;
	width: 25%;
	background-color: $c-blue;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/*Removes last hr tag */
hr:last-of-type{
	display: none;
}
a:hover, a:focus{
	text-decoration: none;
}
//Header overrides
header{
	.banner-text{
		margin: 11.22em 0;
		h2{
			font-size: 2em;
		}
		h1{
			font-size: 3em;
		}
	}
}
.breadcrumb{
	color: #333;
	font-family: lato;
	font-weight: 500;
	border-radius: 0;
	cursor: default;
	margin-bottom: 0;
	background: none;
}
.breadcrumb a{
	color: inherit;
}
.breadcrumb a:hover, .blog .breadcrumb a:hover{
	color: #428bca;
}
#disqus_thread{
	width: 100%;
	margin-top: 1.5em;
}
.social{
	text-align: center;
	width: 100%;
	margin: 1em 0;
	#twitter-widget-0{
		position: relative;
		top: 5px;
	}
}

.admin{
	margin-top: 40px;
}

