$body-font-size: 17px;
html{height: 100%;}
body{
	font-family: $f-body;
	position: relative;
	min-height: 100%;
	font-size: $body-font-size;
	background-color: $c-white;
	line-height: 1.6em;
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
}

.ie-warning {background:#C60F13; margin-top:40px; padding:10px;}
.ie-warning p {color:$c-white;text-align:center; margin: 20px 0;}
.ie-warning p a {color:$c-white; font-weight: bold;text-decoration: underline;}

.content-wrapper{
	padding-bottom: 9.25em; // height of footer
}

.row{
	margin: 0;
}
/*---Makes 100% color backgrounds---*/
.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
}
.text-center{
	text-align: center;
}

hr{
	height: 2px;
	width: 25%;
	background-color: $c-blue;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/*Removes last hr tag */
hr:last-of-type{
	display: none;
}
a:hover, a:focus{
	text-decoration: none;
}
//Header overrides
header{
	.row{
		@include flexbox;
		justify-content: center;
		align-items: center;
	}
	.banner-text{
		@include flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 11.22em 0;
		text-align: center;
		color: $c-white;
		h2, ul{
			font-family: $f-body;
			font-size: 1.8em;
			font-weight: 100;
			margin: 0;
		}
		h1{
			font-family: $f-other-heading;
			font-size: 3.75em;
			font-weight: 700;
			margin: 0;
		}
	}
}
.breadcrumb{
	margin-bottom: 0;
	background: none;
	color: #333;
	font-weight: 500;
	border-radius: 0;
	cursor: default;
	letter-spacing: 1px;
}
.breadcrumb a{
	color: inherit;
}
.breadcrumb a:hover, .blog .breadcrumb a:hover{
	color: #428bca;
}
#disqus_thread{
	width: 100%;
	margin-top: 1.5em;
}
.social{
	text-align: center;
	width: 100%;
	margin: 1em 0;
	#twitter-widget-0{
		position: relative;
		top: 8px;
	}
}
.admin{
	padding-top: 46px;
}
.navbar{
	background-color: $c-white;
}
.navbar-collapse{
	padding: 0;
}
//introduction Overrides
.introduction{
	margin-bottom: 1.25em;
	h2{
		font-size: 2em;
		margin: 0.75em 0 0.5em;
	}
	p{
		font-size: 1.1em;
		text-align: center;
	}
}
.error404{
	background-color: $c-blue;
	h1{ 
		margin-bottom: 0.75em;
		@include font-rem(2);
	}
	span{
		font-weight: 100;
	}
	.banner-text p{
		font-size: 1.8em;
		font-weight: 100;
		margin: 2em 0 0;
		a{
			color: $c-white;
			border-bottom: 2px solid;
		}
	}

}