/*=========Music Page================*/
.page-template-music-php{
	nav li a{
		color: $c-red;
	}
	//Applied to all header elements 
	header{
		//Banner text size override
		.banner-text{
			margin: 9.9em 0;
		}
		svg{
			width: 100%;
			height: 475px;
			margin: 1em 0;
		}
	}
	//Adds spacing to the into paragraph
	.introduction{
		margin-top: 2em;
		margin-bottom: 2em;
	}
	//Added equal spacing to the 'music wall' banner
	.musicBlogWrapper > .banner-text{
		margin-bottom: 1em;
		h2{
			margin: 0.6em 0;
			color: $c-white;
			font-family: $f-body;
			text-align: center;
		}
	} 
	.musicBlogRow{
		padding: 0.5em 0;
	}
	hr{
		margin-top: 0;
		background-color: $c-red;
		width: 55%;
	}
	footer{
		background-color: $c-red;
	}
}
/*---sets the hight of youtube iframes in the music-single.php. Browser cross compatible :-)---*/
.blogRow .oneVideo iframe{
	height: 424px;
}
/*Sets the Parameters for the play button*/
.vid_play{
	position: absolute;
  display: block;
	background: url('../../img/YouTube-icon-dark.png') no-repeat;
	background-size: contain;
	height: 58px;
	width: 83px;
	z-index: 12;
	opacity: .95;
}
/* Changes play icon to red one when the video pic is hovered over*/
.vid_img:hover + .vid_play, .vid_play:hover{
	background: url('../../img/YouTube-icon-full_color.png') no-repeat;
	background-size: contain;
}
.twoVideos{
	margin-bottom: 10px;
}
// .oneVideo .vid_cutout, .twoVideos .vid_cutout, .oneVideo .vid_img, .twoVideos .vid_img{
// 	width: 100%;
// }

.video_cutout{
	@include aspect-ratio(16,8.75);
	background-size: cover !important;
	overflow: hidden;
}

/*Sets the size of the cutout and the size of the image on the music.php page youtube8 is single posts, youtube is double posts*/
// .twoVideos .vid_cutout, .oneVideo .vid_cutout{
// 	overflow: hidden;
// 	height: 143px;
// 	@media (min-width: 350px){
// 		height: 159px;
// 	}
// 	@media (min-width: 399px){
// 		height: 189px;
// 	}
// 	@media (min-width: 450px) {
// 		height: 230px;
// 	}
// 	@media (min-width: 600px) {
// 		height: 319px;
// 	}
// 	@media (min-width: 699px){
// 		height: 363px;
// 	}
// 	@media (min-width: 767px) {
// 		height: 378px;
// 	}
// }
// .twoVideos .vid_img, .oneVideo .vid_img{
// 	z-index: 9;
// 	margin-top: -26px;
// 	@media (min-width: 350px){
// 		margin-top: -30px;
// 	}
// 	@media (min-width: 399px){
// 		margin-top: -33px;
// 	}
// 	@media (min-width: 450px) {
// 		margin-top: -43px;
// 	}
// 	@media (min-width: 600px) {
// 		margin-top: -55px;
// 	}
// 	@media (min-width: 699px){
// 		margin-top: -64px;
// 	}
// 	@media (min-width: 767px) {
// 		margin-top: -69px;
// 	}
// }
// //Fallback if no jquery Otherwise unused
// .twoVideos .vid_play, .oneVideo .vid_play{
// 	top: -125px;
// 	left: 100px;
// 	@media (min-width: 350px){
// 		top: -140px;
// 		left: 110px;
// 	}
// 	@media (min-width: 399px){
// 		top: -165px;
// 		left: 150px;
// 	}
// 	@media (min-width: 450px) {
// 		top: -190px;
// 		left: 170px;
// 	}
// 	@media (min-width: 600px) {
// 		top: -240px;
// 		left: 250px;
// 	}
// 	@media (min-width: 699px){
// 		top: -270px;
// 		left: 380px;
// 	}
// 	@media (min-width: 767px) {
// 		top: -295px;
// 		left: 320px;
// 	}
// }
/*=========For Browsers between 992px and 1200px ================*/

@media (min-width: 992px) and (max-width: 1200px) {
    .blogRow .youtube iframe {
      height: 204px;
    }
    /*Sets the size of the cutout and the size of the image on the music.php page youtube8 is single posts, youtube is double posts*/
	// .oneVideo{
	// 	/*Sets the positions of the play button for single and double post*/
	// 	.vid_play{
	// 		top: -261px;
	// 		left: 269px;
	// 	}
	// 	.vid_cutout{
	// 		height: 326px;
	// 	}
	// 	.vid_img{
	// 		margin-top: -60px;
	// 	}
	// } 
	.twoVideos{
		.vid_play{
			top: -171px;
			left: 149px;
		}
		.vid_cutout{
			height: 198px;
		}
		.vid_img{
			margin-top: -37px;
		}
	} 
}
/*=========For Browsers 1200px and up =============================*/
@media (min-width: 1200px){
	    /*Sets the positions of the play button for single and double post*/
	// .oneVideo{
	// 	.vid_play{
	// 		top: -295px;
	// 		left: 328px;
	// 	}
	// 	.vid_cutout{
	// 		height: 400px;
	// 	}
	// 	.vid_img{
	// 		margin-top: -73px;
	// 	}
	// } 
	.twoVideos{
		.vid_play{
			top: -195px;
			left: 180px;
		}
		.vid_cutout{
			height: 243px;
		}
		.vid_img{
			margin-top: -47px;
		}
	} 
}

.vid_info{
	padding: 0.75em;
	padding-bottom: 0;
	text-align: center;
	@media(min-width: 991px){
		text-align: left;
	}
	a{
		color: #333;
		&:hover{
			color: #EE4036;
		}
	}
	span{
		position: relative;
		background-size: 1em;
		padding-left: 1.6em;
		cursor: default;
	}
	span:before{
		content: "";
		height: 1em;
		width: 1em;
		position: absolute;
		//top: 0;
		left: 5px;
		
	}
	//Applies artist icon to music page info
	h3:nth-child(1) span:before{
		background: url('../../img/artist.png') 0 -1px no-repeat;
		background-size: cover;
	}
	//Applies cd icon to music page info
	h3:nth-child(2) span:before{
		background: url('../../img/track.png') 0 -1px no-repeat;
		background-size: cover;
	}
	//Applies calendar icon to music page info
	h3:nth-child(3) span:before{
		background: url('../../img/posted.png') 0 0 no-repeat;
		background-size: cover;
	}

	//This Forces the time tag to go to the next line but only on small screens
	time{
		display: block;
		@media(min-width: 550px){
			display: inline;
		}
	}
}
@media(max-width: 991px){
	.twoVideos .vid_info{
		padding-bottom: 0.75em;
	} 
}
.musicBlogRow{
	h3{
		margin: 0.25em 0;
		font-size: 1.2em;
		font-family: inherit;
		line-height: 1.15em;
		
	}
	 h4{
	 	clear: both;
	 	padding: 1em 0 0;
		font-size: 1em;
		color: darkgrey;
		text-align: center;
		cursor: default;

	}
}
