.single-post{
	header{
		margin-bottom: 2px;
		text-align: center;
		img{
			width: 100%;
			max-width: 1200px
		}
	}
	.breadcrumb{
		color: darkgrey;
	}
	.date{
		margin: 0.5em 0 0; 
	}
	h1{ margin: 0.4em 0 0.75em; }
	footer{
		margin-top: 1.5em;
	}
}
