.single-music{
	nav li a{
		color: $c-red;
	}
	.single-music-blogWrapper{
		//padding-bottom: 2em;
		.vid_info{
			a:nth-child(1) span{
				background: url(../img/posted.png) no-repeat 0 0;
				background-size: 1.2em !important;
				padding-left: 35px;
			}
		}
	}
	.banner-text{
		margin: 5em 0;
	}
	.second-video-banner-text{
		margin: 3em 0;
	}
	footer{
		background-color: $c-red;
	}
}
.single-music-video{
	height: 225px;
	@media(max-width: 766px){
		padding: 0;
		margin: 0 -15px;	
	}
	@media (min-width: 450px) {
		height: 280px;
	}
	@media (min-width: 600px) {
		height: 365px;
	}
	@media (min-width: 699px){
		height: 422px;
	}
	@media (min-width: 767px) {
		height: 388px;
	}
	@media (min-width: 992px) {
		height: 424px;
	}
	@media (min-width: 1200px){
		height: 518px;
	}
}